<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>username</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of ListUser">
            <tr routerLink="/todos/{{item.id}}">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
            </tr>

        </tbody>
    </table>
</div>